ez mapper/IUCLID 6_8_format/domain/ENDPOINT_STUDY_RECORD-EffectivenessAgainstTargetOrganisms-9.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/ENDPOINT_STUDY_RECORD-EffectivenessAgainstTargetOrganisms/9.0" xmlns:ct="http://iuclid6.echa.europa.eu/namespaces/oecd/v9" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/ENDPOINT_STUDY_RECORD-EffectivenessAgainstTargetOrganisms/9.0">
    <xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/>
    <xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/oecd/v9" schemaLocation="commonTypesOecdV9.xsd"/>
    <xs:element name="ENDPOINT_STUDY_RECORD.EffectivenessAgainstTargetOrganisms">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="AdministrativeData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="DataProtection">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:baseDataProtectionField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="confidentiality" type="ct:N64"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="justification" type="i6:multilingualTextField"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="legislation">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:N78"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Endpoint">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60351"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="StudyResultType">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z05"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="PurposeFlag">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Y14_3"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="RobustStudy" nillable="true" type="i6:booleanField"/>
                            <xs:element minOccurs="0" name="UsedForClassification" nillable="true" type="i6:booleanField"/>
                            <xs:element minOccurs="0" name="UsedForMSDS" nillable="true" type="i6:booleanField"/>
                            <xs:element minOccurs="0" name="StudyPeriodStartDate" nillable="true" type="xs:date"/>
                            <xs:element minOccurs="0" name="StudyPeriodEndDate" nillable="true" type="xs:date"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="StudyPeriod" type="i6:multilingualTextFieldSmall"/>
                            <xs:element minOccurs="0" name="Reliability">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:A36"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="RationalReliability">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60013"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="DataWaiving">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z02"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="DataWaivingJustification">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z52"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="JustificationForTypeOfInformation" type="i6:multilingualTextFieldLarge"/>
                            <xs:element minOccurs="0" name="AttachedJustification">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="AttachedJustification" type="i6:attachmentField"/>
                                                            <xs:element minOccurs="0" name="ReasonPurpose">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60009"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="CrossReference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="ReasonPurpose">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60010"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="RelatedInformation" type="i6:documentReferenceField"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldLarge"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="DataSource">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Reference" type="i6:documentReferenceMultipleField"/>
                            <xs:element minOccurs="0" name="DataAccess">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z03"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="DataProtectionClaimed">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z30"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="GeneralInformation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="BackgroundInformation" type="i6:multilingualTextFieldMultiLine"/>
                            <xs:element minOccurs="0" name="PestTargetOrganismsToBeControlled">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="TargetOrganisms">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="ScientificName">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:C109"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="CommonName">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:C110"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="DevelopmentalStage">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:C116"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DevelopmentalStageOfTargetPlant">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_60860"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="ProductsOrganismsOrObjectsToBeProtectedUnderStudy">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="OrganismsToBeProtectedOrTreatedMaterials" type="i6:multilingualTextFieldMultiLine"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="InformationOnIntendedUseAndApplication">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="FunctionAddressed">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:C70"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="ProductType">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:C111_2"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="FieldOfUseEnvisagedUser" type="i6:multilingualTextFieldLarge"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="InformationOnApplicationOfProduct">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="MethodOfApplication">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:C118"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnApplication" type="i6:multilingualTextFieldLarge"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="GeneralInformationOnEffectiveness">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="EffectsOnTargetOrganisms" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="ModeAction">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:C119"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnModeOfAction" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="PossibleOccurrenceOfResistance" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ManagementStrategiesToAvoidResistance" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="AnyOtherKnownLimitationsAndManagementStrategies" type="i6:multilingualTextFieldLarge"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="ModelAndSoftware">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ModelNameAndVersion" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SoftwareNameAndVersion" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextField"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ResultsAndDiscussion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnResults" type="i6:multilingualTextFieldLarge"/>
                            <xs:element minOccurs="0" name="AdditionalInformationAboutApplicabilityDomainAndReliabilityOfQSARPredictions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="FitWithTheApplicabilityDomain">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61574"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="JustificationForTheFitWithTheApplicabilityDomain" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element minOccurs="0" name="FitWithTheSpaceDefinedByTheTrainingSetOfTheModel">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61576"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="MechanisticAndMetabolicConsiderations" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element minOccurs="0" name="SimilarSubstancesWithExperimentalData">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="field5295">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:baseDataProtectionField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="confidentiality" type="ct:N64"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="justification" type="i6:multilingualTextField"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="legislation">
                                                                                                <xs:complexType>
                                                                                                    <xs:sequence>
                                                                                                        <xs:element minOccurs="0" name="value" type="ct:N78"/>
                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                                    </xs:sequence>
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Identifiers" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element minOccurs="0" name="Source">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61577"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ExperimentalValue" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ReferenceForExperimentalValue" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="PredictedValue" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="AccuracyOfThePrediction" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldMultiLine"/>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="PerformanceOfTheModelForSimilarSubstances" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ConclusionsOnApplicabilityDomainAndReliability" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="Uncertainty">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61579"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="AnyOtherInformationOnResultsInclTables">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherInformation" type="i6:multilingualTextField"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="OverallRemarksAttachments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="RemarksOnResults" type="i6:multilingualTextField"/>
                            <xs:element minOccurs="0" name="AttachedBackgroundMaterial">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="Type">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_61157"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="AttachedDocument" type="i6:attachmentField"/>
                                                            <xs:element minOccurs="0" name="AttachedSanitisedDocsForPublication" type="i6:attachmentField"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ApplicantSummaryAndConclusion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Conclusions" type="i6:multilingualTextFieldLarge"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ExecutiveSummary" type="i6:multilingualTextField"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
