ez mapper/IUCLID 6_8_format/domain/ENDPOINT_STUDY_RECORD-BasicToxicokinetics-9.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/ENDPOINT_STUDY_RECORD-BasicToxicokinetics/9.0" xmlns:ct="http://iuclid6.echa.europa.eu/namespaces/oecd/v9" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/ENDPOINT_STUDY_RECORD-BasicToxicokinetics/9.0">
    <xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/>
    <xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/oecd/v9" schemaLocation="commonTypesOecdV9.xsd"/>
    <xs:element name="ENDPOINT_STUDY_RECORD.BasicToxicokinetics">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="AdministrativeData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="DataProtection">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:baseDataProtectionField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="confidentiality" type="ct:N64"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="justification" type="i6:multilingualTextField"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="legislation">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:N78"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Endpoint">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60266"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="StudyResultType">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z05"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="PurposeFlag">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Y14_3"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="RobustStudy" nillable="true" type="i6:booleanField"/>
                            <xs:element minOccurs="0" name="UsedForClassification" nillable="true" type="i6:booleanField"/>
                            <xs:element minOccurs="0" name="UsedForMSDS" nillable="true" type="i6:booleanField"/>
                            <xs:element minOccurs="0" name="StudyPeriodStartDate" nillable="true" type="xs:date"/>
                            <xs:element minOccurs="0" name="StudyPeriodEndDate" nillable="true" type="xs:date"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="StudyPeriod" type="i6:multilingualTextFieldSmall"/>
                            <xs:element minOccurs="0" name="Reliability">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:A36"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="RationalReliability">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60013"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="DataWaiving">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z02"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="DataWaivingJustification">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z52"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="JustificationForTypeOfInformation" type="i6:multilingualTextFieldLarge"/>
                            <xs:element minOccurs="0" name="AttachedJustification">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="AttachedJustification" type="i6:attachmentField"/>
                                                            <xs:element minOccurs="0" name="ReasonPurpose">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60009"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="CrossReference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="ReasonPurpose">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60010"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="RelatedInformation" type="i6:documentReferenceField"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldLarge"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="DataSource">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Reference" type="i6:documentReferenceMultipleField"/>
                            <xs:element minOccurs="0" name="DataAccess">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z03"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="DataProtectionClaimed">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z30"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="MaterialsAndMethods">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ObjectiveOfStudyPick">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:C13"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Guideline">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="Qualifier">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:Z06"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="Guideline">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:C36"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="VersionRemarks" type="i6:multilingualTextFieldMultiLine"/>
                                                            <xs:element minOccurs="0" name="Deviation">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:Z08"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="MethodNoGuideline" type="i6:multilingualTextFieldLarge"/>
                            <xs:element minOccurs="0" name="GLPComplianceStatement">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z40"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="TestMaterials">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="TestMaterialInformation" type="i6:documentReferenceField"/>
                                        <xs:element minOccurs="0" name="AdditionalTestMaterialInformation" type="i6:documentReferenceMultipleField"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SpecificDetailsOnTestMaterialUsedForTheStudy" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SpecificDetailsOnTestMaterialUsedForTheStudyConfidential" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="Radiolabelling">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:T148"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="RadiolabelledTestMaterial">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="RadiolabelNo">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_60475"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SMILESNotation" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element minOccurs="0" name="RadiochemicalPurity">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                                                            <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                                                            <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                                                            <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="SpecificActivityAsReceived">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="unitCode" type="ct:PG6_60474"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="unitOther" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                                                            <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                                                            <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                                                            <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="SpecificActivityOfDose">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="unitCode" type="ct:PG6_60474"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="unitOther" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                                                            <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                                                            <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                                                            <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldSmall"/>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="TestAnimals">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="Species">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:T02_10_2"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Strain">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:T23_123456"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnSpeciesStrainSelection" type="i6:multilingualTextFieldMultiLine"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="AdministrationExposure">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="RouteOfAdministration">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:T25_Toxicokinetics"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Vehicle">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:T48"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnExposure" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DurationAndFrequencyOfTreatmentExposure" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element minOccurs="0" name="DosesConcentrations">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="TreatmentGroup">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:F137"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="Sex">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:T24"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="NoOfAnimalsPerSexPerDose" type="i6:textFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DurationAndFrequencyOfTreatmentExposure" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element minOccurs="0" name="DoseType">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_60515"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="DoseConc">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="unitCode" type="ct:T28_4"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="unitOther" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element minOccurs="0" name="value" type="i6:textField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldMultiLine"/>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ControlAnimals">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:T27_Toxicokinetics"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="PositiveControl" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnStudyDesign" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnDosingAndSampling" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Statistics" type="i6:multilingualTextFieldMultiLine"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="ModelAndSoftware">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ModelNameAndVersion" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SoftwareNameAndVersion" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextField"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="AnyOtherInformationOnMaterialsAndMethodsInclTables">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherInformation" type="i6:multilingualTextField"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ResultsAndDiscussion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="PreliminaryStudies" type="i6:multilingualTextFieldLarge"/>
                            <xs:element minOccurs="0" name="MainAdmeResults">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="Type">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:TD370"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Results" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="PharmacokineticStudies">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnAbsorption" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnDistribution" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="TransferIntoOrgans">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="KeyResult" nillable="true" type="i6:booleanField"/>
                                                                        <xs:element minOccurs="0" name="TestNo">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:F108"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="TransferType">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:T152"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="Observation">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:T153"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnExcretion" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="ToxicokineticParameters">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="KeyResult" nillable="true" type="i6:booleanField"/>
                                                                        <xs:element minOccurs="0" name="TestNo">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:F108"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="ToxicokineticParameters">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:T115"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="MetaboliteCharacterisationStudies">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="MetabolitesIdentified">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:E34"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnMetabolites" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="DistributionOfMetabolitesInMatrices">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="RadiolabelNo" type="i6:textFieldSmall"/>
                                                                        <xs:element minOccurs="0" name="IdentityOfParentOrMetabolite" type="i6:documentReferenceField"/>
                                                                        <xs:element minOccurs="0" name="TreatmentGroup" type="i6:textFieldSmall"/>
                                                                        <xs:element minOccurs="0" name="Matrix">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61219"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="PercentOfAdministeredDose">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                                                            <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                                                            <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                                                            <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="RemarksOnResult">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_60516"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="AppendixMetabolitesAndTheirParentsInTreatmentGroups">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="MetabolitesInTreatmentGroups">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="IDNo">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_60490"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="IdentityOfCompound" type="i6:documentReferenceField"/>
                                                                        <xs:element minOccurs="0" name="ParentCompoundS" type="i6:documentReferenceMultipleField"/>
                                                                        <xs:element minOccurs="0" name="TreatmentGroups">
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                                                        <xs:complexType>
                                                                                            <xs:complexContent>
                                                                                                <xs:extension base="i6:repeatableEntryType">
                                                                                                    <xs:sequence>
                                                                                                        <xs:element minOccurs="0" name="TreatmentGroupTestNo" type="i6:textFieldSmall"/>
                                                                                                    </xs:sequence>
                                                                                                </xs:extension>
                                                                                            </xs:complexContent>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="Expertise">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_60517"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="TypeOfExpertise">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_60518"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="EnzymaticActivity">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="EnzymaticActivityMeasured" type="i6:multilingualTextFieldLarge"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Bioaccessibility">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="BioaccessibilityTestingResults" type="i6:multilingualTextFieldLarge"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="AdditionalInformationAboutApplicabilityDomainAndReliabilityOfQSARPredictions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="FitWithTheApplicabilityDomain">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61574"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="JustificationForTheFitWithTheApplicabilityDomain" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element minOccurs="0" name="FitWithTheSpaceDefinedByTheTrainingSetOfTheModel">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61576"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="MechanisticAndMetabolicConsiderations" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element minOccurs="0" name="SimilarSubstancesWithExperimentalData">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="field5295">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:baseDataProtectionField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="confidentiality" type="ct:N64"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="justification" type="i6:multilingualTextField"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="legislation">
                                                                                                <xs:complexType>
                                                                                                    <xs:sequence>
                                                                                                        <xs:element minOccurs="0" name="value" type="ct:N78"/>
                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                                    </xs:sequence>
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Identifiers" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element minOccurs="0" name="Source">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61577"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ExperimentalValue" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ReferenceForExperimentalValue" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="PredictedValue" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="AccuracyOfThePrediction" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldMultiLine"/>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="PerformanceOfTheModelForSimilarSubstances" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ConclusionsOnApplicabilityDomainAndReliability" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="Uncertainty">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61579"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="AnyOtherInformationOnResultsInclTables">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherInformation" type="i6:multilingualTextField"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="OverallRemarksAttachments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="RemarksOnResults" type="i6:multilingualTextField"/>
                            <xs:element minOccurs="0" name="AttachedBackgroundMaterial">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="Type">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_61157"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="AttachedDocument" type="i6:attachmentField"/>
                                                            <xs:element minOccurs="0" name="AttachedSanitisedDocsForPublication" type="i6:attachmentField"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ApplicantSummaryAndConclusion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Conclusions" type="i6:multilingualTextFieldLarge"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ExecutiveSummary" type="i6:multilingualTextField"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
