ez mapper/IUCLID 6_8_format/domain/ENDPOINT_STUDY_RECORD-EmissionsFromPreservativeTreatedWood-9.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/ENDPOINT_STUDY_RECORD-EmissionsFromPreservativeTreatedWood/9.0" xmlns:ct="http://iuclid6.echa.europa.eu/namespaces/oecd/v9" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/ENDPOINT_STUDY_RECORD-EmissionsFromPreservativeTreatedWood/9.0">
    <xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/>
    <xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/oecd/v9" schemaLocation="commonTypesOecdV9.xsd"/>
    <xs:element name="ENDPOINT_STUDY_RECORD.EmissionsFromPreservativeTreatedWood">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="AdministrativeData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="DataProtection">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:baseDataProtectionField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="confidentiality" type="ct:N64"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="justification" type="i6:multilingualTextField"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="legislation">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:N78"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Endpoint">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60427"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="StudyResultType">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z05"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="PurposeFlag">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Y14_3"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="RobustStudy" nillable="true" type="i6:booleanField"/>
                            <xs:element minOccurs="0" name="UsedForClassification" nillable="true" type="i6:booleanField"/>
                            <xs:element minOccurs="0" name="UsedForMSDS" nillable="true" type="i6:booleanField"/>
                            <xs:element minOccurs="0" name="StudyPeriodStartDate" nillable="true" type="xs:date"/>
                            <xs:element minOccurs="0" name="StudyPeriodEndDate" nillable="true" type="xs:date"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="StudyPeriod" type="i6:multilingualTextFieldSmall"/>
                            <xs:element minOccurs="0" name="Reliability">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:A36"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="RationalReliability">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60013"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="DataWaiving">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z02"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="DataWaivingJustification">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z52"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="JustificationForTypeOfInformation" type="i6:multilingualTextFieldLarge"/>
                            <xs:element minOccurs="0" name="AttachedJustification">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="AttachedJustification" type="i6:attachmentField"/>
                                                            <xs:element minOccurs="0" name="ReasonPurpose">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60009"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="CrossReference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="ReasonPurpose">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60010"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="RelatedInformation" type="i6:documentReferenceField"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldLarge"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="DataSource">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Reference" type="i6:documentReferenceMultipleField"/>
                            <xs:element minOccurs="0" name="DataAccess">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z03"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="DataProtectionClaimed">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z30"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="MaterialsAndMethods">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Guideline">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="Qualifier">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:Z06"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="Guideline">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:OE20"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="VersionRemarks" type="i6:multilingualTextFieldMultiLine"/>
                                                            <xs:element minOccurs="0" name="Deviation">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:Z08"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="MethodNoGuideline" type="i6:multilingualTextFieldLarge"/>
                            <xs:element minOccurs="0" name="GLPComplianceStatement">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z40"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="StudyType">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:OE90"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="CompanyStudyNo" type="i6:textFieldMultiLine"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ReportDate" type="i6:multilingualTextFieldSmall"/>
                            <xs:element minOccurs="0" name="TestWater">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:OE10"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="TestMaterials">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="TestMaterialInformation" type="i6:documentReferenceField"/>
                                        <xs:element minOccurs="0" name="AdditionalTestMaterialInformation" type="i6:documentReferenceMultipleField"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SpecificDetailsOnTestMaterialUsedForTheStudy" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SpecificDetailsOnTestMaterialUsedForTheStudyConfidential" type="i6:multilingualTextFieldLarge"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="WoodPreservative">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="SupplierPreserv" type="i6:textFieldMultiLine"/>
                                        <xs:element minOccurs="0" name="TypeFormulation">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:OE30"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Preservative">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:OE40"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="ActiveIngredients">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:OE50"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Composition" nillable="true" type="i6:numericField"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Coformulants" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="Retention">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:OE60"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Application">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="ApplicationMethod">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:OE70"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="TreatFacility" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Registrant" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailMethod" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ApplicationDate" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="FormulaRetention" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ConditionProcedure" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="EndSealant" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SubsTreat" type="i6:multilingualTextFieldMultiLine"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="TestSpecimens">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="TestSpecimens">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="WoodSpecies">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:OE80"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SourceWood" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element minOccurs="0" name="Density">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="unitCode" type="ct:OE240"/>
                                                                                            <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                                                            <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                                                            <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                                                            <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="GrowthRate">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                                                            <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                                                            <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                                                            <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="Dimensionx" nillable="true" type="i6:numericField"/>
                                                                        <xs:element minOccurs="0" name="Dimensiony" nillable="true" type="i6:numericField"/>
                                                                        <xs:element minOccurs="0" name="Dimensionz" nillable="true" type="i6:numericField"/>
                                                                        <xs:element minOccurs="0" name="MoistureContent" nillable="true" type="i6:numericField"/>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="WaterSamples">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="Ph" nillable="true" type="i6:numericField"/>
                                                                        <xs:element minOccurs="0" name="MeanTemp">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="unitCode" type="ct:A102"/>
                                                                                            <xs:element minOccurs="0" name="value" type="i6:textField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="LoadingConditions">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="WoodWeightPerWaterVolume">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="unitCode" type="ct:OE240"/>
                                                                                            <xs:element minOccurs="0" name="value" type="i6:textField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="WoodSurfacePerWaterVolume">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="unitCode" type="ct:OE250"/>
                                                                                            <xs:element minOccurs="0" name="value" type="i6:textField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="ModelAndSoftware">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ModelNameAndVersion" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SoftwareNameAndVersion" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextField"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="AnyOtherInformationOnMaterialsAndMethodsInclTables">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherInformation" type="i6:multilingualTextField"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ResultsAndDiscussion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Retention">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="ReplicateNumber" nillable="true">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer"/>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="Retention">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="unitCode" type="ct:OE260"/>
                                                                                <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                                                <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                                                <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                                                <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="RetentionStddev" nillable="true" type="i6:numericField"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="RetentionRemarks" type="i6:multilingualTextFieldLarge"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Leaching">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="Time">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePhysicalQuantityField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="unitCode" type="ct:C113"/>
                                                                                <xs:element minOccurs="0" name="value" type="i6:textField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ActiveIngredient" type="i6:multilingualTextFieldLarge"/>
                                                            <xs:element minOccurs="0" name="TypeOfSpecimen">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:OE270"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="SpecimenNumber" nillable="true">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer"/>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="EmissionRate">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="unitCode" type="ct:OE280"/>
                                                                                <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                                                <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                                                <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                                                <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldLarge"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="ValidityCritFulfilled">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:F102"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="QualityCriteria" type="i6:multilingualTextFieldMultiLine"/>
                            <xs:element minOccurs="0" name="AdditionalInformationAboutApplicabilityDomainAndReliabilityOfQSARPredictions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="FitWithTheApplicabilityDomain">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61574"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="JustificationForTheFitWithTheApplicabilityDomain" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element minOccurs="0" name="FitWithTheSpaceDefinedByTheTrainingSetOfTheModel">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61576"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="MechanisticAndMetabolicConsiderations" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element minOccurs="0" name="SimilarSubstancesWithExperimentalData">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="field5295">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:baseDataProtectionField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="confidentiality" type="ct:N64"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="justification" type="i6:multilingualTextField"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="legislation">
                                                                                                <xs:complexType>
                                                                                                    <xs:sequence>
                                                                                                        <xs:element minOccurs="0" name="value" type="ct:N78"/>
                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                                    </xs:sequence>
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Identifiers" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element minOccurs="0" name="Source">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61577"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ExperimentalValue" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ReferenceForExperimentalValue" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="PredictedValue" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="AccuracyOfThePrediction" type="i6:multilingualTextFieldMultiLine"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldMultiLine"/>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="PerformanceOfTheModelForSimilarSubstances" type="i6:multilingualTextFieldMultiLine"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ConclusionsOnApplicabilityDomainAndReliability" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="Uncertainty">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61579"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="AnyOtherInformationOnResultsInclTables">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherInformation" type="i6:multilingualTextField"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="OverallRemarksAttachments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="RemarksOnResults" type="i6:multilingualTextField"/>
                            <xs:element minOccurs="0" name="AttachedBackgroundMaterial">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="Type">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_61157"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="AttachedDocument" type="i6:attachmentField"/>
                                                            <xs:element minOccurs="0" name="AttachedSanitisedDocsForPublication" type="i6:attachmentField"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="KineticEvaluation" type="i6:attachmentListField"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ApplicantSummaryAndConclusion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Conclusions" type="i6:multilingualTextFieldLarge"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ExecutiveSummary" type="i6:multilingualTextField"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
