ez mapper/IUCLID 6_8_format/domain/FLEXIBLE_RECORD-IntermediateEffects-9.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-IntermediateEffects/9.0" xmlns:ct="http://iuclid6.echa.europa.eu/namespaces/oecd/v9" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-IntermediateEffects/9.0">
    <xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/>
    <xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/oecd/v9" schemaLocation="commonTypesOecdV9.xsd"/>
    <xs:element name="FLEXIBLE_RECORD.IntermediateEffects">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="AdministrativeData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="DataProtection">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:baseDataProtectionField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="confidentiality" type="ct:N64"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="justification" type="i6:multilingualTextField"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="legislation">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:N78"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="StudyResultType">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:IntEff_InfoType"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="StudyPeriodStartDate" nillable="true" type="xs:date"/>
                            <xs:element minOccurs="0" name="StudyPeriodEndDate" nillable="true" type="xs:date"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="StudyPeriod" type="i6:multilingualTextFieldSmall"/>
                            <xs:element minOccurs="0" name="Reliability">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:A36"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="RationalReliability">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60013"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="CrossReference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="ReasonPurpose">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:IntEff_Reason"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="RelatedInformation" type="i6:documentReferenceField"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldLarge"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="StudyObjectives" type="i6:multilingualTextFieldLarge"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="DataSource">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Reference" type="i6:documentReferenceMultipleField"/>
                            <xs:element minOccurs="0" name="DataAccess">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z03"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="DataProtectionClaimed">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:Z30_2"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="EffectIdentification">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Details">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="Process">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:IntEff_Process"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="Object">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:IntEff_Object"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="EffectAction">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:IntEff_Action"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="EffectDetails" type="i6:multilingualTextFieldLarge"/>
                            <xs:element minOccurs="0" name="Context">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="System">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60235"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Organ">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:IntEff_Organ"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldLarge"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="MaterialsAndMethods">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="MethodUsed">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="Qualifier">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_Qualifier"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="MethodUsed">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_Method"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Deviations">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:Z08"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="PrincipleOfTheMethod" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="GLPCompliance">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:Z40"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="OtherQualityFollowed">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_OtherQuality"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="AttachedBackgroundMaterial">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="Type">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_61157"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="AttachedDocuments" type="i6:attachmentField"/>
                                                                        <xs:element minOccurs="0" name="AttachedSanitisedDocsForPublication" type="i6:attachmentField"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldSmall"/>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="TestMaterials">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="TestMaterialInformation" type="i6:documentReferenceField"/>
                                        <xs:element minOccurs="0" name="AdditionalTestMaterialInformation" type="i6:documentReferenceMultipleField"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SpecificDetailsOnTestMaterialUsedForTheStudy" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SpecificDetailsOnTestMaterialUsedForTheStudyConfidential" type="i6:multilingualTextFieldLarge"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="TestSystem">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="TestSystemType">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_Type"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="TestSystemIdentity">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_Identity"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="GeneticModOfSystem">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_GenMod"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="TestSystemDetails" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="MetabolicCompetence">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_Metabolic"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="DetectionMethod">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="DetectionMethodUsed">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_60361"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailsOnDetectionMethod" type="i6:multilingualTextFieldLarge"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="TestDesign">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="TestMaterialPreparation">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" name="Vehicle">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:basePicklistField">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="value" type="ct:PG6_60362"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="DilutionStepsDoseIntervals" type="i6:multilingualTextFieldLarge"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="ControlAndReferenceItems">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" name="ControlsReferenceItemsUsed">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:basePicklistField">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="value" type="ct:Z36"/>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="ControlsReferenceSubstances">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                                    <xs:complexType>
                                                                        <xs:complexContent>
                                                                            <xs:extension base="i6:repeatableEntryType">
                                                                                <xs:sequence>
                                                                                    <xs:element minOccurs="0" name="TypeOfControls">
                                                                                        <xs:complexType>
                                                                                            <xs:complexContent>
                                                                                                <xs:extension base="i6:basePicklistField">
                                                                                                    <xs:sequence>
                                                                                                        <xs:element minOccurs="0" name="value" type="ct:PG6_60363"/>
                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                                    </xs:sequence>
                                                                                                </xs:extension>
                                                                                            </xs:complexContent>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                    <xs:element minOccurs="0" name="ControlOrReferenceItemsUsed">
                                                                                        <xs:complexType>
                                                                                            <xs:complexContent>
                                                                                                <xs:extension base="i6:basePicklistField">
                                                                                                    <xs:sequence>
                                                                                                        <xs:element minOccurs="0" name="value" type="ct:IntEff_ControlItem"/>
                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                                    </xs:sequence>
                                                                                                </xs:extension>
                                                                                            </xs:complexContent>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldLarge"/>
                                                                                </xs:sequence>
                                                                            </xs:extension>
                                                                        </xs:complexContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="ExperimentalConditions">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="NumberOfReplicates" type="i6:multilingualTextFieldLarge"/>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ExperimentalConditions" type="i6:multilingualTextFieldLarge"/>
                                                    <xs:element minOccurs="0" name="AdditionalAnalysis">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:basePicklistField">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="value" type="ct:IntEff_AddAnalysis"/>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="DataAnalysis">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="AcceptanceCriteria" type="i6:multilingualTextFieldLarge"/>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="DataCalculationAndStatistics" type="i6:multilingualTextFieldLarge"/>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="EvaluationDataInterpretationCriteria" type="i6:multilingualTextFieldLarge"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="AnyOtherInformationOnMaterialsAndMethodsInclTables">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherInformation" type="i6:multilingualTextField"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ResultsAndDiscussion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="TestResults">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="TestResults">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                        <xs:complexType>
                                                            <xs:complexContent>
                                                                <xs:extension base="i6:repeatableEntryType">
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" name="DetailsOfTheEffectIdentification" type="i6:textFieldSmall"/>
                                                                        <xs:element minOccurs="0" name="KeyObservation" nillable="true" type="i6:booleanField"/>
                                                                        <xs:element minOccurs="0" name="ConcentrationSelection">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_ConcSelection"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="ConcentrationRangeTested">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="unitCode" type="ct:PG6_60377"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="unitOther" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                                                            <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                                                            <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                                                            <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="NumberOfReplicatesAndOutliers" type="i6:multilingualTextFieldLarge"/>
                                                                        <xs:element minOccurs="0" name="ParameterAndResult">
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                                                        <xs:complexType>
                                                                                            <xs:complexContent>
                                                                                                <xs:extension base="i6:repeatableEntryType">
                                                                                                    <xs:sequence>
                                                                                                        <xs:element minOccurs="0" name="Parameter">
                                                                                                            <xs:complexType>
                                                                                                                <xs:complexContent>
                                                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_Parameter"/>
                                                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:extension>
                                                                                                                </xs:complexContent>
                                                                                                            </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element minOccurs="0" name="ParameterResult">
                                                                                                            <xs:complexType>
                                                                                                                <xs:complexContent>
                                                                                                                    <xs:extension base="i6:basePhysicalQuantityField">
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" name="unitCode" type="ct:PG6_60377"/>
                                                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="unitOther" type="i6:multilingualTextFieldSmall"/>
                                                                                                                            <xs:element minOccurs="0" name="value" type="i6:textField"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:extension>
                                                                                                                </xs:complexContent>
                                                                                                            </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldLarge"/>
                                                                                                    </xs:sequence>
                                                                                                </xs:extension>
                                                                                            </xs:complexContent>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="OtherObservation">
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                                                        <xs:complexType>
                                                                                            <xs:complexContent>
                                                                                                <xs:extension base="i6:repeatableEntryType">
                                                                                                    <xs:sequence>
                                                                                                        <xs:element minOccurs="0" name="Observation">
                                                                                                            <xs:complexType>
                                                                                                                <xs:complexContent>
                                                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_Observations"/>
                                                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:extension>
                                                                                                                </xs:complexContent>
                                                                                                            </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element minOccurs="0" name="Concentration">
                                                                                                            <xs:complexType>
                                                                                                                <xs:complexContent>
                                                                                                                    <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" name="unitCode" type="ct:PG6_60377"/>
                                                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="unitOther" type="i6:multilingualTextFieldSmall"/>
                                                                                                                            <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                                                                                            <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                                                                                            <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                                                                                            <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:extension>
                                                                                                                </xs:complexContent>
                                                                                                            </xs:complexType>
                                                                                                        </xs:element>
                                                                                                    </xs:sequence>
                                                                                                </xs:extension>
                                                                                            </xs:complexContent>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" name="ResultsForTheTestMaterial">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_ResultTM"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="AcceptanceOfResults">
                                                                            <xs:complexType>
                                                                                <xs:complexContent>
                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_AccResults"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                        </xs:sequence>
                                                                                    </xs:extension>
                                                                                </xs:complexContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="RemarksOnResults" type="i6:multilingualTextFieldLarge"/>
                                                                        <xs:element minOccurs="0" name="AttachedMaterial">
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                                                                        <xs:complexType>
                                                                                            <xs:complexContent>
                                                                                                <xs:extension base="i6:repeatableEntryType">
                                                                                                    <xs:sequence>
                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="AttachmentType">
                                                                                                            <xs:complexType>
                                                                                                                <xs:complexContent>
                                                                                                                    <xs:extension base="i6:basePicklistField">
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_AttachmentType"/>
                                                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:extension>
                                                                                                                </xs:complexContent>
                                                                                                            </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element minOccurs="0" name="Attachment" type="i6:attachmentField"/>
                                                                                                        <xs:element minOccurs="0" name="AttachedSanitisedDocsForPublication" type="i6:attachmentField"/>
                                                                                                    </xs:sequence>
                                                                                                </xs:extension>
                                                                                            </xs:complexContent>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:extension>
                                                            </xs:complexContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="OverallRemarksAttachments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="RemarksOnResults" type="i6:multilingualTextField"/>
                            <xs:element minOccurs="0" name="AttachedBackgroundMaterial">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="Type">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_61157"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="AttachedDocument" type="i6:attachmentField"/>
                                                            <xs:element minOccurs="0" name="AttachedSanitisedDocsForPublication" type="i6:attachmentField"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ApplicantSSummaryAndConclusion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="InterpretationOfResultsObservations">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="OverallResults" type="i6:multilingualTextFieldLarge"/>
                                        <xs:element minOccurs="0" name="TypeOfResult">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:PG6_60380"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="EffectConcentrationChoice">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePicklistField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:IntEff_Concentration"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Concentration">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:basePhysicalQuantityRangeField">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="unitCode" type="ct:PG6_60377"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="unitOther" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                            <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                            <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                            <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldLarge"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="ExecutiveSummary">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ExecutiveSummary" type="i6:multilingualTextField"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
