ez mapper/IUCLID 6_8_format/domain/REFERENCE_SUBSTANCE-9.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/REFERENCE_SUBSTANCE/9.0" xmlns:ct="http://iuclid6.echa.europa.eu/namespaces/domain/v9" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/REFERENCE_SUBSTANCE/9.0">
    <xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/>
    <xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/domain/v9" schemaLocation="commonTypesDomainV9.xsd"/>
    <xs:element name="REFERENCE_SUBSTANCE">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="DataProtection">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="i6:baseDataProtectionField">
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="confidentiality" type="ct:N64"/>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="justification" type="i6:multilingualTextField"/>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="legislation">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:N78"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ReferenceSubstanceName">
                    <xs:simpleType>
                        <xs:restriction base="i6:textFieldMultiLine">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="IupacName" type="i6:textFieldMultiLine"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Description" type="i6:multilingualTextFieldLarge"/>
                <xs:element minOccurs="0" name="Inventory">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="InventoryEntry">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="i6:inventoryEntry"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="InventoryEntryJustification">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePicklistField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="value" type="ct:N95"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="remarks" type="i6:multilingualTextField"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="CASNumber" type="i6:textFieldSmall"/>
                            <xs:element minOccurs="0" name="CASName" type="i6:textFieldMultiLine"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Synonyms">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Synonyms">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="DataProtection">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:baseDataProtectionField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="confidentiality" type="ct:N64"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="justification" type="i6:multilingualTextField"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="legislation">
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element minOccurs="0" name="value" type="ct:N78"/>
                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                                        </xs:sequence>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="Identifier">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60192"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="Name" type="i6:textFieldMultiLine"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="MolecularStructuralInfo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="DataProtection">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:baseDataProtectionField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="confidentiality" type="ct:N64"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="justification" type="i6:multilingualTextField"/>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="legislation">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="value" type="ct:N78"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="MolecularFormula" type="i6:textFieldMultiLine"/>
                            <xs:element minOccurs="0" name="MolecularWeightRange">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="i6:basePhysicalQuantityRangeField">
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="lowerQualifier" type="i6:lowerQualifier"/>
                                                <xs:element minOccurs="0" name="upperQualifier" type="i6:upperQualifier"/>
                                                <xs:element minOccurs="0" name="lowerValue" type="xs:decimal"/>
                                                <xs:element minOccurs="0" name="upperValue" type="xs:decimal"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="SmilesNotation" type="i6:textFieldMultiLine"/>
                            <xs:element minOccurs="0" name="InChl" type="i6:textFieldMultiLine"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="InChIKey" type="i6:multilingualTextFieldSmall"/>
                            <xs:element minOccurs="0" name="StructuralFormula" type="i6:attachmentField"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldLarge"/>
                            <xs:element minOccurs="0" name="ChemicalStructureFiles">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="StructureFile" type="i6:attachmentField"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="RemarksChemStruct" type="i6:multilingualTextFieldSmall"/>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="RelatedSubstances">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="RelatedSubstances">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="i6:repeatableEntryType">
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" name="Identifier">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:PG6_60192"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="Identity" type="i6:textFieldLarge"/>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Remarks" type="i6:multilingualTextFieldSmall"/>
                                                            <xs:element minOccurs="0" name="Relation">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="i6:basePicklistField">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="value" type="ct:N05"/>
                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="i6:multilingualTextFieldSmall"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="GroupCategoryInfo" type="i6:multilingualTextFieldMultiLine"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
